.main_container{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;


}
.container{
  width:375px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  margin:5px;

}

.answerbox{
  width:375px;
  background-color:#FFFFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.buttonBox{
  display: flex;
  justify-content: center;
  width:375px;
}

.dots_container{
  display: flex;
  justify-content: center;
  width:375px;

}
.number_container{
  display: flex;
  justify-content: center;
  width:375px;
}
.heading{
  display: flex;
  justify-content: center;
  width:375px;
}
.contentBox
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:375px;
}
.imgbox{
  width:375px;
  margin-left:10px;
}

.suggestButton{
  display:flex;
  justify-content: ;
}