html,
body {
  padding: 0;
  margin: 0;
}

.container{
  width:375px;
  display:flex;
  flex-direction:column;
  justify-content: center;

}

.answerbox{
  width:375px;
  background-color:#FFFFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.questionbox {
  width:375px;

  background-color:#82DED9;
  display:flex;
  flex-direction:column;
  text-align:center;
  color:#FFFFFF;
  font-family: 'Roboto', sans-serif;
}
.buttonBox{
  display: flex;
  justify-content: center;
  width:375px;
}

.dots_container{
  display: flex;
  justify-content: center;
  width:375px;

}
.number_container{
  display: flex;
  justify-content: center;
  width:375px;
}
.heading{
  display: flex;
  justify-content: center;
  width:375px;
}
.contentBox
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:375px;
}
.imgbox{
  width:375px;
  margin-left:10px;
}

.overlay{
  height: 250px;
  width:350px;
  opacity: 0%;
  display: flex;
  justify-content: center;
  color: lightgray;
  border-radius: 18px;
  visibility: hidden;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}


.illness{
  font-size: 18px;
  line-height: 28px;
  color: #52A1C3;
  font-size: large;
  font-weight: normal;
}
.text{
  font-family: "Saira Semi Condensed', sans-serif";
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  color: #52A1C3;
}
.picture{
  display: flex;
  justify-content: center;
  height: 350px;
  width: 120px;
  z-index: -1;
}

.picture:hover::before {
  transform: scale(1.5);
  -webkit-animation: circle .75s;
	animation: circle .75s;
}
.picturebutton{
  height:11px;
  width:11px;
}
.picturebutton:active{
  background-image: "../../public/clicked.png";
  height:11px;
  width:11px;
}

.resulttext{
font-family: "Saira Semi Condensed', sans-serif";
font-weight: bold;
font-size: 14px;
line-height: 22px;
color: #52A1C3;
}
.suggestion{
  display: flex;
  justify-content: center;
  width: 335px;
  height: 444px;
}

.containerbox{
position: relative;
width: 348px;
height: 452px;
border: 1px solid #82DED9;
box-sizing: border-box;
}

.arrow{
  display: block;
  text-align: center;
}

.picture:hover::before {
  transform: scale(1.5);
  -webkit-animation: circle .75s;
	animation: circle .75s;
}

ul {
  list-style-type: circle;
}

@-webkit-keyframes circle {
	0% {
		opacity: 0.5;
	}
	40% {
		opacity: 0.5;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 0.5;
	}
	40% {
		opacity: 0.5;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}